/* CSS-Datei */
* {
    margin: 0px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace, 'Noto Sans';
    font-weight: lighter;
    letter-spacing: 0.5px;
}

*:focus {
    outline: none;
}

html {
    min-width: 804px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

body {
    position: relative;
    min-height: 500px;
    height: 100vh;
}

.title {
    margin-left: 18px;
}

.title .firstl {
    color: #dbff00;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 300px;
    min-height: 10vh;
    width: 100%;
    background-color: #008080;
}

article {
    overflow: hidden;
    position: relative;
    background-color: #000080;
    width: 100%;

    box-sizing: border-box;
    border: solid #000080 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000080;
    min-height: calc(90vh - 86px);
    box-sizing: border-box;
    border: solid #c0c0c0 1px;
}

#dropzone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    min-width: 700px;
    height: 30vh;
    width: 70vw;
    background-image: linear-gradient(135deg,rgba(0,0,0,.03)25%, transparent 25%, transparent 50%, rgba(0,0,0,.03)50%, rgba(0,0,0,.03)75%, transparent 75%, transparent);
    background-color: #d1d1d1;
    background-size: 16px 16px;
}

#dropzone input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    font-size: 2rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

#dropzone input[type=text] {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    box-sizing: border-box;
}

#dropzone input[type=text]::placeholder {

}

#dropzone.hover {
    background-color: #c0c0c0;
    border: 6px dashed rgba(#000, 0.1);
}

footer {
    position: relative;
    width: 100%;
    background-color: black;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer nav lable{
    width: 100%;
    background-color: #008080;
    color: black;
}

footer nav lable span{
    width: 20px;
    background-color: black;
    color: white;
}

#cmd {
    color: #c0c0c0;
    border: none;
    margin: 3px;
}

#cli {
    background: none;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
    width: calc(100% - 217px);
    margin-right: 2px;
    color: #c0c0c0;
}